.bg {
  border-bottom: 1px solid #eceff3;
}
.bg2 {
  background: var(--bg-0);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
  margin: auto;
  padding: 12px 1rem;

  &__logo {
  }

  &__btns {
    button {
      margin-left: 8px;
    }
  }
}

.footerBg {
}
.footer {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 1rem;

  .copyright {
    border-top: 1px solid #eceff3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-400);
    padding: 2rem 0;
    font-size: 15px;

    a {
      margin-left: 1rem;
    }
  }

  &__body {
    padding: 2rem 0 3.5rem;
    display: flex;
    justify-content: space-between;

    &__sec1 {
      img {
        margin-bottom: 1.5rem;
      }

      div {
        span {
          margin-right: 1rem;
          font-size: 15px;
          color: var(--text-600);
          font-weight: 500;
        }
      }
    }

    &__sec2 {
      p {
        font-size: 13px;
        font-weight: 700;
        margin-bottom: 1rem;
      }
      div {
        a:first-of-type {
          margin-right: 12px;
        }
      }
    }
  }
}
