.nav {
  border-bottom: 1px solid #eceff3;
  margin-bottom: 2rem;

  span {
    color: var(--text-500);
    padding: 14px 0;
    display: inline-flex;
    margin-right: 2rem;
    align-items: center;

    svg {
      margin-right: 8px;
    }

    &.active {
      color: var(--text-900);
      border-bottom: 1px solid currentColor;
      font-weight: 700;
      margin-bottom: -1px;

      svg path {
        stroke: var(--bg-900);
      }
    }
  }
}
