.form {
  max-height: calc(100vh - 361px);
  overflow: auto;
  padding: 0 2rem 0;
  max-width: 534px;
  margin: auto;

  &::-webkit-scrollbar {
    width: 2px;
  }
}
.btnWrap {
  border-top: 1px solid var(--background-hover-50, #eceff3);
  padding: 1rem;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background: var(--white);

  > div {
    max-width: 470px;
    margin: auto;
    display: flex;
    justify-content: flex-end;

    button {
      margin-left: 12px;
      display: flex;
      align-items: center;

      svg {
        transform: rotate(-90deg);
        margin-left: 10px;

        path {
          stroke: var(--white);
        }
      }
    }
  }
}

.check {
  margin-bottom: 1rem;
  label {
    display: flex;
    align-items: center;

    input {
      width: 16px;
      height: 16px;
      margin-right: 12px;
    }

    p {
      font-size: 12px;
      a {
        font-weight: 600;
      }
    }
  }

  > p {
    font-size: 12px;
    margin-top: 10px;
    color: var(--error-100);
  }
}
